<!DOCTYPE html>
<html lang=es>

<head>
    <title>Netflix</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet"
        href="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.0.61-nqwebsitefakira-css-v6806eaa5/css/css/page%7Chomepage.less,page%7CprofilesGate.less/1/none/none/true/none" />
    <script
        src="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.0.61-nqwebsitefakira-js-v6806eaa5/js/js/ui%7Cbootstrap.js,ui%7Ccommon%7Cbootstrap.js/1/none/bk/true/none"></script>
    <script
        src="https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.0.61-nqwebsitefakira-js-v6806eaa5/js/js/ui%7Cclient%7Cprofilesgate.js/1/none/l/true/none"
        async=""></script>
    <link rel="shortcut icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico" />
    <link rel="apple-touch-icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png" />
</head>

<body>
    <div id="appMountPoint">
        <div class="column-counter touch-exclusive" dir="ltr">
            <div class="fallbackSite">
                <table class="header">
                    <tbody>
                        <tr>
                            <td class="header-item has-inline-left-gutter header-netflix-logo">
                                <a href="/browse" class="header-navigation-menu header-navigation-genres">
                                    <img src="https://assets.nflxext.com/ffe/siteui/akira/fallback/hamburger.gif"
                                        class="netflix-header-more" />
                                    <div class="header-navigation-slider-background"></div>
                                    <div class="header-navigation-slider">
                                        <ol class="navigation-menu-settings">
                                            <li class="has-inline-left-gutter navigation-menu-profile">
                                                <img src="https://occ-0-1259-1567.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABdIXX5D4Abs2Zsu_LkdbJgnZyJzTNMqV7pLsqmEt3wYDfy_sIf2HAThe9dliWIaeVRmOqVzZJzn8ReigmP2kpXU.png?r=318"
                                                    class="header-profile-avatar" />
                                                <p class="navigation-menu-profile-link" data-href="/ProfilesGate">
                                                    <span class="navigation-menu-profile-name"
                                                        data-href="/ProfilesGate">?</span><span
                                                        class="navigation-menu-profile-text"
                                                        data-href="/ProfilesGate">Cambiar perfiles</span>
                                                </p>
                                            </li>
                                            <li class="has-inline-left-gutter navigation-menu-setting"
                                                data-href="/YourAccount">
                                                Cuenta
                                            </li>
                                            <li class="has-inline-left-gutter navigation-menu-setting"
                                                data-href="https://help.netflix.com/">
                                                Centro de ayuda
                                            </li>
                                            <li class="has-inline-left-gutter navigation-menu-setting"
                                                data-href="/SignOut?lnkctr=mL">
                                                Cerrar sesión en Netflix
                                            </li>
                                        </ol>
                                        <ol class="navigation-menu-sections">
                                            <li class="has-inline-left-gutter-border navigation-menu-section"
                                                data-href="/browse">
                                                Inicio
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-section"
                                                data-href="/browse/my-list">
                                                Mi lista
                                            </li>
                                        </ol>
                                        <ol class="navigation-menu-genres">
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/10673">
                                                Acción y aventuras de TV
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/1365">
                                                Acción y aventuras
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/3761">
                                                Películas africanas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/58886">
                                                Películas alemanas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/65198">
                                                Series alemanas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/12123">
                                                Ambientadas en otra época
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/3063">
                                                Películas de anime
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/1819776">
                                                Anime basado en libros
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/2867325">
                                                Anime basado en novelas ligeras
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/1819777">
                                                Anime basado en videojuegos
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/2653">
                                                Anime de acción
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/1433679">
                                                Anime de ciencia ficción y
                                                fantasía
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/452">
                                                Anime de drama
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/81216565">
                                                Anime de misterio y thrillers
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/2913945">
                                                Anime seinen
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/2867624">
                                                Anime shounen
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/1623841">
                                                Anime sobre la escuela
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/1522234">
                                                Anime sobre romances
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/6721">
                                                Series de anime
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/69616">
                                                TV argentina
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/5230">
                                                Películas australianas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/52387">
                                                Series australianas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/5480">
                                                Películas de Bollywood
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/69624">
                                                TV brasileña
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/10757">
                                                Películas británicas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/52117">
                                                TV británica
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/56181">
                                                Películas canadienses
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/58704">
                                                Programas de TV canadienses
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/3960">
                                                Películas chinas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/80353">
                                                Programas de TV chinos
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/1492">
                                                Ciencia ficción y fantasía
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/2595">
                                                Documentales sobre ciencia y
                                                naturaleza
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/52780">
                                                TV sobre ciencia y naturaleza
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/31574">
                                                Películas clásicas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/69636">
                                                Películas colombianas
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/10375">
                                                Comedias de TV
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/6548">
                                                Comedias
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/11559">
                                                Comedias de stand&nbsp;up
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/11039">
                                                Comedias de stand up
                                                irreverentes
                                            </li>
                                            <li class="has-inline-left-gutter-border navigation-menu-genre"
                                                data-href="/browse/genre/26049">
                                                Comedias de TV románticas
                                            </li>
                                        </ol>
                                    </div>
                                </a><a href="/browse" class="netflix-logo"><img
                                        src="https://assets.nflxext.com/en_us/layout/ecweb/common/logo-shadow2x.png"
                                        class="netflix-logo-image" /></a><a href="/browse"
                                    class="header-browse header-navigation-trigger header-has-genres"><span
                                        class="header-navigation-text">Explorar</span>
                                    <div class="header-browse-menu header-subnavigation">
                                        <ol class="browse-menu-sections">
                                            <li class="browse-menu-section" data-href="/browse">
                                                Inicio
                                            </li>
                                            <li class="browse-menu-section" data-href="/browse/my-list">
                                                Mi lista
                                            </li>
                                        </ol>
                                        <ol class="browse-menu-genres">
                                            <li class="browse-menu-genre" data-href="/browse/genre/10673">
                                                Acción y aventuras de TV
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/1365">
                                                Acción y aventuras
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/3761">
                                                Películas africanas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/58886">
                                                Películas alemanas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/65198">
                                                Series alemanas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/12123">
                                                Ambientadas en otra época
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/3063">
                                                Películas de anime
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/1819776">
                                                Anime basado en libros
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/2867325">
                                                Anime basado en novelas ligeras
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/1819777">
                                                Anime basado en videojuegos
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/2653">
                                                Anime de acción
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/1433679">
                                                Anime de ciencia ficción y
                                                fantasía
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/452">
                                                Anime de drama
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/81216565">
                                                Anime de misterio y thrillers
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/2913945">
                                                Anime seinen
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/2867624">
                                                Anime shounen
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/1623841">
                                                Anime sobre la escuela
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/1522234">
                                                Anime sobre romances
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/6721">
                                                Series de anime
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/69616">
                                                TV argentina
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/5230">
                                                Películas australianas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/52387">
                                                Series australianas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/5480">
                                                Películas de Bollywood
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/69624">
                                                TV brasileña
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/10757">
                                                Películas británicas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/52117">
                                                TV británica
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/56181">
                                                Películas canadienses
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/58704">
                                                Programas de TV canadienses
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/3960">
                                                Películas chinas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/80353">
                                                Programas de TV chinos
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/1492">
                                                Ciencia ficción y fantasía
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/2595">
                                                Documentales sobre ciencia y
                                                naturaleza
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/52780">
                                                TV sobre ciencia y naturaleza
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/31574">
                                                Películas clásicas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/69636">
                                                Películas colombianas
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/10375">
                                                Comedias de TV
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/6548">
                                                Comedias
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/11559">
                                                Comedias de stand&nbsp;up
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/11039">
                                                Comedias de stand up
                                                irreverentes
                                            </li>
                                            <li class="browse-menu-genre" data-href="/browse/genre/26049">
                                                Comedias de TV románticas
                                            </li>
                                        </ol>
                                    </div>
                                </a>
                            </td>
                            <td class="header-item has-inline-right-gutter header-profile-wrapper">
                                <a href="/ProfilesGate" class="header-profile"><img
                                        src="https://occ-0-1259-1567.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABdIXX5D4Abs2Zsu_LkdbJgnZyJzTNMqV7pLsqmEt3wYDfy_sIf2HAThe9dliWIaeVRmOqVzZJzn8ReigmP2kpXU.png?r=318"
                                        class="header-profile-avatar" alt="" /><span
                                        class="header-profile-name">?</span>
                                    <div class="header-menu">
                                        <p class="header-menu-item" data-href="/ProfilesGate">
                                            Cambiar perfiles
                                        </p>
                                        <p class="header-menu-item header-menu-account-item" data-href="/YourAccount">
                                            Cuenta
                                        </p>
                                        <p class="header-menu-item" data-href="https://help.netflix.com/">
                                            Centro de ayuda
                                        </p>
                                        <p class="header-menu-item" data-href="/SignOut?lnkctr=mL">
                                            Cerrar sesión en Netflix
                                        </p>
                                    </div>
                                </a>
                                <form method="get" action="/search" class="header-search-form">
                                    <input type="text" name="q" class="header-search-input" placeholder="Buscar"
                                        data-placeholder="Buscar" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="profile-selector">
                    <div class="profile-selector-links">
                        <h1 class="headline">¿Quién está leyendo ahora?</h1>
                        <ul class="profiles">
                            <li class="profile">
                                <a class="profile-link" href="/SwitchProfile?tkn=RJISCHH4DFB4JPELVGLWTBY7UI"
                                    data-tkn="RJISCHH4DFB4JPELVGLWTBY7UI" role="button">
                                <img class="profile-image"
                                        src="https://occ-0-1259-1567.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABcajaPMIn6RTpZwlTX_yLKqTPZkVc7owkIoRDi-qM76YH-6SyMzI5Cf87b_JdcOGck3lqEEZITIFXklDFrCpkD44SF78.png?r=f80"
                                        alt="Laura 🌙" />
                                <span class="profile-name">Laura 🌙</span></a>
                            </li>
                            <li class="profile">
                                <a class="profile-link" href="/SwitchProfile?tkn=TWZNVALGBNANTGG4FRSBMNUJ2A"
                                    data-tkn="TWZNVALGBNANTGG4FRSBMNUJ2A" role="button">
                                <img class="profile-image"
                                        src="https://occ-0-1259-1567.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABYCq-HPaBmwWzyEo8UjC3jQ7a2mKJhU4uPbQwFrauKbu9_-6GpfPccnQh3UWZvsGLQ1MwLo_4YZ-kuTiAsqpq0oEdPXS.png?r=f71"
                                        alt="Delfina🌻" />
                                <span class="profile-name">Delfina🌻</span></a>
                            </li>
                            <li class="profile">
                                <a class="profile-link" href="/SwitchProfile?tkn=J2YRJUXOO5HZDN3N7HVQIWFYVU"
                                    data-tkn="J2YRJUXOO5HZDN3N7HVQIWFYVU" role="button">
                                <img class="profile-image"
                                        src="https://occ-0-1259-1567.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABXzsLeXLYRgDrrvM99HCFtTGST5PVo50MVlNTlINCoCsHtph6L9OjNyqpd6tqydjEN-_HIR0nvgEnka3H0eKOroCi8WJ.png?r=318"
                                        alt="?" />
                                <span class="profile-name">?</span></a>
                            </li>
                            <li class="profile">
                                <a class="profile-link" href="/SwitchProfile?tkn=HZ3STMJHXREUXFG6FXXQRMHUGI"
                                    data-tkn="HZ3STMJHXREUXFG6FXXQRMHUGI" role="button">
                                <img class="profile-image"
                                        src="https://occ-0-1259-1567.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABSLII-o6GmYPFo09Nlv7D5jVLJGKsBJnZFzFAj82yk-WfGl7mV_vbCPIK5h65iTgGTs1dobHjU5Nlwc0EwKaty5KYhoV.png?r=a41"
                                        alt="Luli 🌼" />
                                <span class="profile-name">Luli 🌼</span></a>
                            </li>
                            <li class="profile">
                                <a class="profile-link" href="/SwitchProfile?tkn=EUDBY7WV4VAQVCK3J6LGAHO4HY"
                                    data-tkn="EUDBY7WV4VAQVCK3J6LGAHO4HY" role="button">
                                <img class="profile-image"
                                        src="https://occ-0-1259-1567.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABUOVXiUYacjlBLwNjhXI7yzjuheEv4j03647J1rGAtRjLkqadP2bMyykXIzsZ04QZnHJS0md3nlMNNj0HIMbQNKYr7RE.png?r=071"
                                        alt="Clara 🎀" />
                                <span class="profile-name">Clara 🎀</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>